# Ignore Vosk models
src/LLM_voice_Agent_node/models/

# Ignore virtual environment
src/LLM_voice_Agent_node/virEnv/
virEnv/

# Ignore ONNX and large ML models
*.onnx
*.fst
*.mdl
*.carpa
# >>> universe:base
# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Markdown (ignore all except README)
*.md
!README.md

# Node
node_modules/

# Python
__pycache__/
*.py[cod]
.venv/

# Build outputs
/dist/
/build/
# <<< universe:base
